@{
    ViewData["Title"] = "Home Page";
}

@inject IFilesConfigurationProvider files
@{
    var filesConfig = files.GetConfiguration();
}
<link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet" />
<script src="https://unpkg.com/filepond/dist/filepond.js"></script>

<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="form-group">
            <div>
                <p>Upload the file you want. Supported file extensions: <code>@string.Join(", ", filesConfig.FileExtensions)</code>.</p>
                <p>Size of the file must not exceed <code>@Math.Round((filesConfig.SizeMax / 1024f) / 1024f)MB</code></p>
                <input multiple type="file" class="filepond" required />
                <p id="uploadedelements"></p>
            </div>
        </div>
    }
    else
    {
        <p>You're not logged in yet!</p>
    }
</div>

@if (User.Identity.IsAuthenticated)
{
    <script type="text/javascript">
        FilePond.parse(document.body);
        FilePond.setOptions({
            server: {
                headers: {
                    'X-Token': '@User.Claims.FirstOrDefault(x => x.Type == TokenAuthenticationHandler.ClaimToken)?.Value'
                },
                process: (fieldName, file, metadata, load, error, progress, abort, transfer, options) => {
                    const formData = new FormData();
                    formData.append(fieldName, file, file.name);

                    const request = new XMLHttpRequest();
                    request.open('POST', 'api/upload');

                    request.upload.onprogress = (e) => {
                        progress(e.lengthComputable, e.loaded, e.total);
                    };

                    request.onload = function () {
                        if (request.status >= 200 && request.status < 300) {
                            var element = $('#uploadedelements');
                            JSON.parse(request.responseText).forEach(function (e) {
                                element.append('<a href="' + window.location.href + e['filename'] + '" target="_blank">' + file.name + '</a><br>');
                                load(e['filename']);
                            });
                        }
                        else {
                            error('oh no');
                        }
                    };

                    request.send(formData);

                    return {
                        abort: () => {
                            request.abort();
                            abort();
                        }
                    };
                }
            }
        });
    </script>
}