@{
    ViewData["Title"] = "Privacy - More Info";
}

    <p class="text-danger">
        This website has to use cookies when you authenticate to your UploadR account. Your session is destroyed after 20 minutes of inactivity on the server.
    </p>