<div class="row" *ngIf="me">
    <div class="col-md-6 mx-auto">
        <form method="POST">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" aria-describedby="privacy" placeholder="Enter email">
                <small id="privacy" class="form-text">We'll never share your email with anyone else.</small>
            </div>
            <button type="submit" class="btn btn-uploadr">Submit</button>
        </form>
    </div>
</div>
