@{
    ViewData["Title"] = "Home Page";
}

@using ShareY.Interfaces
@inject IFilesConfigurationProvider files
@{
    var filesConfig = files.GetConfiguration();
}

<div class="container">
    @if ((bool)ViewData["IsAuthenticated"])
    {
        <div class="form-group">
            <div>
                <p>Upload the file you want. Supported file extensions: <code>@string.Join(", ", filesConfig.FileExtensions)</code>.</p>
                <p>Size of the file must not exceed <code>@Math.Round((filesConfig.SizeMax / 1024f) / 1024f)MB</code></p>
                <input id="file_upload" type="file" required>
            </div>
        </div>
        <div class="form-group">
            <div>
                <input type="submit" value="Upload" onclick="uploadFile('@ViewData["UserToken"]')">
            </div>
        </div>

        <div class="d-flex align-items-lg-start">
            <div id="loading" class="spinner-border text-dark" hidden></div>
            <p id="loading_upload" hidden>Loading...</p>
        </div>
    }
    else
    {
        <p>You're not logged in yet!</p>
    }
</div>

@if ((bool)ViewData["IsAuthenticated"])
{
    <script type="text/javascript">
        function uploadFile(token) {
            var fileElem = $('#file_upload');
            if (fileElem.length != 1) {
                alert('Element not found.');
            }

            var files = fileElem[0].files;
            if (files.length != 1) {
                alert('File not found.');
            }

            var file = files[0];

            var data = new FormData();
            data.append(file.name, file);

            var responseElement = $('#loading_upload');
            responseElement.removeAttr('hidden');

            var loadingElement = $('#loading');
            loadingElement.removeAttr('hidden');

            $.ajax({
                type: 'POST',
                url: '/api/upload',
                beforeSend: function (request) {
                    request.setRequestHeader('X-Token', token);
                },
                data: data,
                success: function (result) {
                    loadingElement.attr('hidden', true);
                    responseElement.html('Your file has successfully been uploaded: <a class="alert-link" href="' + window.location.href + result['filename'] + '">' + window.location.href + result['filename'] + '</a>');
                },
                processData: false,
                contentType: false,
                cache: false,
                error: function (jqXHR, textStatus, errorMessage) {
                    loadingElement.attr('hidden', true);
                    responseElement.text('An error occured. The server responded: ' + errorMessage);
                }
            });
        }
    </script>
}