@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @{
      if (Model.IsAuthenticated)
      {
        <p>You are logged in.</p>
      }
      else
      {
        <p>You are not logged in.</p>
      }
    }
</div>
