/* You can add global styles to this file, and also import other style files */

.uploadr-bg-clr {
    background-color: #222;
}

body, html {
    background: #333;
    color: #EEE
}

.container-fluid {
    margin-top: 10px;
}

.navbar-brand {
    font-size: 1.75rem;
}

.btn-uploadr {
    background: #222;
    color: #FFF;
}