@{
    ViewData["Title"] = "Login";
    var ott = (bool)ViewData["EnableOttButton"];
}

<form method="post">
    @{
        if ((bool)ViewData["IsAuthenticated"])
        {
            <p class="alert alert-danger">You are already logged in as '@ViewData["UserToken"]'.</p>
        }
    }

    <div class="form-group">
        <label for="auth">Enter your token @(ott ? "or request a one-time-token by entering your e-mail" : ""):</label>
        <input type="text" class="form-control" name="auth" id="auth">
    </div>

    <button type="submit" class="btn btn-light">Login</button>
    @if (ott)
    {
        <a asp-action="LoginByOtt" asp-controller="Auth" class="btn btn-light">Enter One-Time-Token</a>
    }
</form>