@{
    ViewData["Title"] = "Login";
    var ott = (bool)ViewData["EnableOttButton"];
}

<form method="post">
    @{
        if ((bool)ViewData["IsAuthenticated"])
        {
            <p class="alert alert-danger">You are already logged in as '@ViewData["UserToken"]'.</p>
        }
    }

    <div class="form-group">
        <label for="auth">Enter your token @(ott ? "or request a one-time-token by entering your e-mail" : ""):</label>
        <input type="text" class="form-control" name="auth" id="auth">
    </div>

    <button type="submit" class="btn btn-light">Login or request One-Time-Token</button>
</form>
<hr />
@if (ott)
{
    <form method="post" asp-controller="Auth" asp-action="LoginByOttPost">
        <div class="form-group">
            <label for="ottGuid">Enter a valid one-time-token:</label>
            <input type="text" class="form-control" name="ottGuid" id="ottGuid">
        </div>

        <button type="submit" class="btn btn-light">Login with One-Time-Token</button>
    </form>
}
else
{
    <p class="alert alert-danger">One-Time-Token feature is disabled.</p>
}