<header>    
    <nav class="navbar navbar-expand-sm navbar-dark uploadr-bg-clr border-bottom">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">UploadR</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="navbar-nav mt-2 mt-lg-0" *ngIf="me">
                    <li class="nav-item" *ngIf="me.canSignup && !me.isAuthenticated">
                        <a class="nav-link" [routerLink]="['/']">Signup</a>
                    </li>

                    <li class="nav-item" *ngIf="me.isAuthenticated && me.isAdmin">
                        <a class="nav-link" [routerLink]="['/']">Admin Area</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/']" *ngIf="me.isAuthenticated; else login_block">Logout</a>
                        <ng-template #login_block>
                            <a class="nav-link" [routerLink]="['/']">Login</a>
                        </ng-template>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>