@{
    ViewData["Title"] = "Login";
}

<form method="post">
    @{
        if (User.Identity.IsAuthenticated)
        {
            <p class="alert alert-danger">You are already logged in as '@User.Identity.Name'.</p>
        }
    }

    <div class="form-group col-sm-7">
        <label for="email">Request a one-time-token by entering your e-mail:</label>
        <input type="text" class="form-control" name="email" id="email" placeholder="Email">
        <p>Either enter a valid email.</p>
        <button type="submit" class="btn btn-light">Request One-Time-Token</button>
    </div>
</form>
<hr />
<form method="post" asp-controller="Auth" asp-action="LoginByOttPost">
    <div class="form-group col-sm-7">
        <label for="ottGuid">Enter a valid one-time-token:</label>
        <input type="text" class="form-control" name="ott" id="ott" placeholder="One-Time-Token">
        <p>Put the one-time-token you have received by email here.</p>
        <button type="submit" class="btn btn-light">Login with One-Time-Token</button>
    </div>
</form>