@{
    ViewData["Title"] = "One-Time-Token Login";
}

<form method="post" asp-controller="Auth" asp-action="LoginByOttPost">
    <div class="form-group">
        <label for="ottGuid">Enter a valid one-time-token:</label>
        <input type="text" class="form-control" name="ottGuid" id="ottGuid">
    </div>

    <button type="submit" class="btn btn-light">Login</button>
</form>